@import url("https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --font-title: "Manrope";
  --font-subtitle: "Kanit";
  --font-body: "Lora";
  --font-branding: "Belanosima";

  /* Color Pallete */
  --color-dark: #2e4d37;
  --color-light: #fffcf7;
  --color-mid: #a1b5d8;
  --color-utility-light: #e4f0d0;
  --color-utility-dark: #c2d8b9;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  transition: all 100ms ease-in;
  list-style-type: none;

  .flex-row {
    display: flex;
    flex-direction: row;
  }

  .flex-col {
    display: flex;
    flex-direction: column;
  }

  .align {
    align-items: center;
  }

  .justify {
    justify-content: center;
  }

  .main-bg {
    background-image: linear-gradient(
      45deg,
      hsl(82deg 52% 88%) 0%,
      hsl(80deg 51% 88%) 2%,
      hsl(77deg 51% 89%) 4%,
      hsl(74deg 51% 89%) 7%,
      hsl(72deg 51% 89%) 10%,
      hsl(69deg 50% 90%) 13%,
      hsl(66deg 50% 90%) 16%,
      hsl(64deg 50% 91%) 20%,
      hsl(61deg 49% 91%) 24%,
      hsl(58deg 51% 92%) 28%,
      hsl(56deg 54% 92%) 32%,
      hsl(54deg 57% 93%) 37%,
      hsl(52deg 60% 93%) 41%,
      hsl(50deg 64% 94%) 46%,
      hsl(48deg 67% 95%) 51%,
      hsl(46deg 70% 95%) 56%,
      hsl(45deg 74% 96%) 62%,
      hsl(43deg 78% 96%) 67%,
      hsl(42deg 83% 97%) 74%,
      hsl(40deg 87% 97%) 80%,
      hsl(39deg 93% 98%) 88%,
      hsl(38deg 100% 98%) 100%
    );
  }

  .card-bg {
    backdrop-filter: blur(20px);
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(
      310deg,
      hsl(193deg 47% 48%) 0%,
      hsl(190deg 43% 51%) 5%,
      hsl(187deg 42% 55%) 12%,
      hsl(183deg 41% 59%) 21%,
      hsl(178deg 41% 63%) 33%,
      hsl(172deg 44% 68%) 47%,
      hsl(166deg 49% 74%) 62%,
      hsl(158deg 56% 80%) 78%,
      hsl(149deg 67% 85%) 91%,
      hsl(137deg 91% 91%) 100%
    );
  }

  button {
    margin: 1rem 0rem;
    align-self: flex-end;
    border: none;
    border-radius: 10px;
    background-color: var(--color-utility-light);
    i {
      font-size: 1rem;
      padding: 0.5rem 0.75rem;
      background-color: var(--color-utility-dark);
      color: var(--color-dark);
    }
    h3 {
      margin: 0.35rem 0.85rem;
      font-size: 0.75rem;
      font-family: var(--font-branding);
      font-weight: 500;
      color: var(--color-dark);
      text-transform: uppercase;
      letter-spacing: 0.05rem;
    }
  }

  button:hover {
    filter: drop-shadow(4px 4px 0px var(--color-dark));
    transform: translate(-2px, -2px);
  }

  .hidden {
    display: none;
  }
}

body {
  padding: 6rem;
  div.container {
    border-radius: 10px;
    filter: drop-shadow(4px 4px 8px var(--color-dark));
    min-width: 32rem;
    height: 56rem;
    padding: 1rem;
    header {
      margin: 1rem 0.25rem;
      height: 3rem;
      justify-content: space-between;
      div.brand {
        img {
          width: 40px;
          object-fit: cover;
          margin: 20px;
        }
        h1 {
          font-family: var(--font-branding);
          font-size: 1.25rem;
          font-weight: 400;
          color: var(--color-dark);
        }
      }
    }

    hr {
      width: 80%;
      margin: 0 auto;
      margin-bottom: 1rem;
      background-color: var(--color-dark);
      height: 0.125rem;
    }

    div#popup-modal {
      height: 100%;
      width: 100%;
      position: fixed;
      inset: 0;
      z-index: 9;
      padding: 40px;
      isolation: isolate;
      div#modal-backdrop {
        position: absolute;
        z-index: -5;
        height: 100%;
        width: 100%;
        inset: 0;
        background-color: rgba($color: #2e4d37, $alpha: 0.5);
        backdrop-filter: blur(6px);
      }
      form {
        min-height: 30%;
        width: 90%;
        backdrop-filter: blur(20px);
        border-radius: 10px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
        i#modal-close-button {
          font-size: 2rem;
          text-align: end;
          margin: 20px 20px 0px 0px;
          color: #2e4d37;
          cursor: pointer;
        }

        i#modal-close-button:hover {
          filter: drop-shadow(4px 4px 2px var(--color-dark));
          transform: translate(-2px, -2px);
        }

        h2,
        label,
        input,
        textarea {
          margin: 0.15rem 1rem;
          padding: 0rem 0.5rem;
        }

        h2 {
          text-align: center;
          font-family: var(--font-subtitle);
          font-weight: 400;
        }

        h2,
        label {
          font-family: var(--font-branding);
          font-weight: 400;
        }

        textarea,
        input {
          font-family: var(--font-title);
          padding: 0.5rem 0.75rem;
          resize: none;
        }

        div.modal-button-container {
          margin: 0.25rem 1rem;
          justify-content: space-between;
          h4 {
            font-family: var(--font-subtitle);
            font-weight: 400;
            opacity: 0.25;
          }
        }

        input#modal-task-title {
          margin-bottom: 1rem;
        }
      }
    }

    main {
      overflow: auto;
      width: 100%;
      scrollbar-width: thin;
      // scrollbar-color: red yellow;
      ul.task-list {
        width: 100%;
        li.task-item {
          width: 90%;
          margin: 1rem auto;
          padding: 0.75rem 1.5rem;
          div.task-title {
            justify-content: space-between;
            h3 {
              margin: 0.825rem 0rem;
              font-family: var(--font-branding);
              font-weight: 400;
              align-self: flex-start;
            }
            h4 {
              font-family: var(--font-subtitle);
              font-weight: 200;
              opacity: 0.25;
            }
          }
          p {
            font-family: var(--font-title);
            font-weight: 300;
          }
        }
      }
    }

    main::-webkit-scrollbar {
      width: 4px;
    }

    main::-webkit-scrollbar-thumb {
      background-color: var(--color-utility-dark);
    }

    main::-webkit-scrollbar-track {
      background-color: var(--color-dark);
    }
  }
}
